.cards-container {
    background-color: #9EB384;
}

.small-box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.inputTest {
    margin: 20px;
    width: 163px;
    background-color: lightsteelblue;
    border-radius: 12px;
    height: 1.5rem;
}

.btn {
    margin: 20px;
    height: 2rem;
    width: 50px;
    border-radius: 12px;
    background-color: lightsteelblue;
}

.cards {
    display: inline-block;
    background-color: lightblue;
    height: 420px;
    width: 300px;
    margin: 10px;
    padding: 10px;
    border-radius: 15px;
}